<launch>
    <!-- Declare robot_namespace as an argument -->
    <arg name="robot_namespace" default="default_namespace"/>

    <!-- Group nodes within the robot_namespace -->
    <group ns="$(arg robot_namespace)">

        <!-- Launch the individual_robot_state node -->
        <node 
            pkg="object_pose_estimator" 
            type="yolo_pose_detect.py" 
            name="yolo_detect" 
            output="screen">

            <!-- Pass the robot_namespace parameter -->
            <param name="robot_namespace" value="$(arg robot_namespace)"/>
        </node>

    </group>
</launch>
