<launch>
  <arg name="task_reassignment_interval" default="7"/>
  <arg name="task_priority_increment" default="1.5"/>
  <arg name="task_execution_interval" default="0"/>
  
  <!-- Launch the robot_state_manager node -->
  <node 
    pkg="task_manager" 
    type="task_assigner.py" 
    name="task_assigner" 
    output="screen">
    
    <param name="task_reassignment_interval" value="$(arg task_reassignment_interval)"/>
    <param name="task_priority_increment" value="$(arg task_priority_increment)"/>
    <param name="task_execution_interval" value="$(arg task_execution_interval)"/>
  </node>

  <!-- Uncomment the below node if needed -->
  <!-- 
  <node 
    pkg="task_manager" 
    type="task_publisher.py" 
    name="task_publisher" 
    output="screen">
  </node> 
  -->
</launch>
