<launch>
  <!-- Declare robot_namespace as an argument -->
  <arg name="robot_namespace" default="default_namespace"/>

  <!-- Launch the individual_robot_state node -->
  <node 
    pkg="robot_manager" 
    type="individual_robot_state.py" 
    name="individual_robot_state_$(arg robot_namespace)" 
    output="screen">

    <!-- Pass the robot_namespace parameter -->
    <param name="robot_namespace" value="$(arg robot_namespace)"/>
  </node>
  
</launch>