<?xml version="1.0"?>
<launch>

    <!-- Launch the Pose Database Node -->
    <node ns="robot_db" name="pose_database_node" pkg="object_pose_database" type="pose_database_node.py" output="screen" respawn="true">
        <!-- MongoDB connection parameters -->
        <param name="mongo_uri" value="mongodb+srv://all:simpledb@environment.wfwxr.mongodb.net/?retryWrites=true&w=majority&appName=Environment"/>
        <param name="database_name" value="world"/>
        <param name="collection_name" value="object"/>

        <!-- Tolerance and epsilon parameters -->
        <param name="tolerance" value="0.1"/>
        <param name="epsilon" value="0.5"/>

        <!-- Number of robots -->
        <param name="no_of_robots" value="4"/>
    </node>

</launch>
